<!doctype html>
<html lang="en">

<head>
    <%- include('partials/head', { pageTitle: 'Goshenkata' }) %>
</head>

<body class="bg-dark text-light">
        <%- include('partials/navbar') %>
        <div class="container min-vh-100 d-flex flex-column justify-content-center align-items-start text-start ps-4 ps-md-5">
            <h1 class="display-3 fw-semibold mb-4 flicker">Goshenkata.com</h1>
            <p class="mt-5">Let's all love lain!</p>

</body>

</html>